*{
   box-sizing: border-box; 
}
body,html{
   padding: 0; 
   margin: 0; 
   background-image: url(../img/canvas.jpg) ;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
.container{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
}
.color{
   width:30px;
   height: 30px;
   display: inline-flex;
   border: black 2px solid;
}
.brushes{
    display: flex;
    direction:row;

}
.brush{
    width:  100px;
    height: 100px;
    /* border: black 2px solid; */
    font-size: 25px;
 }
.canvas{
    background-color: white;
    width: 500px;
    height: 500px;
    border: black 2px solid ;
}

.input{
    width: 90px;
}

.cavas-size{
   margin-top: 10px;
}
.point{
    width: 4px;
    height: 4px;
    position:absolute;
}
