*{
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image:url('./img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
#start{
    width: 200px;
    height: 150px;
    background-color:palevioletred;
    border-radius: 15%;
    border: black 3px solid;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sol{
    display: flex;
    width: 500px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#question{
    justify-content: center;
    font-size: 5vh;
}
.buttons{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.ans{
    border: black 3px solid;
    background-color: pink;
    flex:1;
    font-size: 2vh;
    margin: 10px;
    width: 200px;
    height:200px;

}
#bigImg{
    max-width:500px;

}